body: {
    background-color: #cae1ff;
}

a: {
    color: #00ced1;
    text-decoration: none;
}

h1: {
    float: center;
}

img: {
    float: center;
}

div: {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #f8f8ff;
}

.class_one: {
    font-family: Georgia, Arial;
}

p: {
    font-size: 12px;
}

class_two: {
    font-family: Georgia, sans-serif;
}
